
.droneDiv {
  width: 40%;
  margin: -80px auto 0 auto;
  padding-top: 140px;
}

.heroDiv {
  background-color: rgb(244, 241, 237);
  /* height: 142vh; */
  /* height: 900px; */
}

.droneImg {
  width: 100%;
}

.shadowDiv {
  width: 30%;
  margin: -19px auto 0 auto;
}

.shadowImg {
  width: 100%;
}

.heroText {
  width: 50%;
  margin: 0 auto;
}

.hero {
  width: 100%;
}

@media (max-width: 768px) {
  .droneDiv {
    width: 80%;
    /* margin: -80px auto 0 auto;
    padding-top: 140px; */
  }

  .shadowDiv {
    width: 70%;
    /* margin: -19px auto 0 auto; */
  }

  .heroText {
    width: 90%;
    /* margin: 0 auto; */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .droneDiv {
    width: 50%;
    /* margin: -80px auto 0 auto;
    padding-top: 140px; */
  }

  .heroText {
    width: 55%;
    /* margin: 0 auto; */
  }
}