.App {
  background-color: #fff;
}

.mobileNav {
  display: none;
}

.tabletNav {
  display: none;
}

@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .tabletNav {
    display: none;
  }

  .mobileNav {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: none;
  }

  .tabletNav {
    display: block;
  }
}
