
.topNav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
  align-items: center;
  padding-top: 30px;
}

.topNav2 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto 0 auto;
  align-items: center;
  padding-top: 5px;
}

.topNavColor {
  position: sticky;
  top: 0;
  background-color: rgb(244, 241, 237);
}

.topNav2Color {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(250, 250, 250);
}

.topNav3Color {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #040404;
}

.topNav4Color {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(244, 241, 237);
}

.navUl {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-left: 0;
}

.navA {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.navImgBlack {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.topDiv {
  width: 15%;
}

.topImg {
  width: 100%;
}

.navLi {
  margin-right: 35px;
}

.navLi2 {
  margin-left: 35px;
}

.hideNav {
  display: none;
}

.navSocial {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-left: 0;
}

.socialNav {
  color: rgb(106, 105, 103);
}

.hamDiv {
  width: 40px;
  cursor: pointer;
}

.hamLine1 {
  color: #f76e24;
}

.hamLine2 {
  margin-right: 15px;
  color: #f76e24;
}

.slidingNav {
  font-size: 15px;
  position: absolute;
  right: 12%;
  bottom: 5px;
  width: 20%;
  padding: 0;
}

.slidingDiv {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  padding: 0;
}

.navB {
  text-decoration: none;
  color: rgb(106, 105, 103);
}

.slidingNav a:hover {
  color: #f76e24;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navUl {
    font-size: 14px;
  }

  .topDiv {
    width: 22%;
  }

  .slidingNav {
    font-size: 95%;
    position: absolute;
    right: 1%;
    width: 25%;
    top: 45%;
    height: 190%;
  }

  .slidingDiv {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 0 0 9%;
    flex-direction: column;
    height: 100%;
    background-color: #8181;
  }

  .navB {
    color: rgb(240, 108, 36);
  }
}
