
.topNav {
  /* background-color: rgb(241, 189, 110); */
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 0 auto;
  /* background-color: rgb(244, 241, 237); */
  align-items: center;
  padding-top: 30px;
  /* position: sticky;
  top: 0; */
}

.topNav2 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto 0 auto;
  /* background-color: rgb(244, 241, 237); */
  align-items: center;
  padding-top: 5px;
  /* position: sticky;
  top: 0; */
  /* z-index: 1; */
}

.topNavColor {
  position: sticky;
  top: 0;
  background-color: rgb(244, 241, 237);
}

.topNav2Color {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(250, 250, 250);
}

.topNav3Color {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #040404;
}

.topNav4Color {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(244, 241, 237);
}

.navUl {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  /* background-color: red; */
  padding-left: 0;
}

.navA {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.navImgBlack {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.topDiv {
  width: 15%;
}

.topImg {
  width: 100%;
}

.navLi {
  margin-right: 35px;
}

.navLi2 {
  margin-left: 35px;
}

.hideNav {
  display: none;
}

.navSocial {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  /* background-color: red; */
  padding-left: 0;
}

.socialNav {
  /* width: 50px; */
  /* background-color: rgb(244, 241, 237); */
  /* color: #f4f1ed; */
  color: rgb(106, 105, 103);
}

.hamDiv {
  width: 40px;
  cursor: pointer;
}

.hamLine1 {
  /* width: 90%; */
  color: #f76e24;
}

.hamLine2 {
  margin-right: 15px;
  color: #f76e24;
}

.slidingNav {
  background-color: greenyellow;
}
