
label {
  font-size: 15px;
  padding: 20px 0;
  display: inherit;
}

input {
  background-color: rgb(244, 241, 237);
  display: block;
  width: 100%;
  padding-bottom: 30px;
  font-size: 21px;
  border-left: none;
  border-right: none;
  border-top: none;
  /* border-bottom: 1px solid black; */
}

.formCon {
  background-color: rgb(244, 241, 237);
  padding: 60px 0;
}

form {
  /* background-color: gray; */
  margin: 0 auto;
  width: 60%;
  padding: 50px;
}

textarea {
  background-color: rgb(244, 241, 237);
  display: block;
  width: 100%;
  padding-bottom: 70px;
  font-size: 21px;
  border-top: none;
  border-right: none;
  border-left: none;
}

button {
  display: block;
  width: 25%;
  background-color: #f16b22;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 5px;
  position: relative;
  color: #ffffff;
  border: none;
}

.arrowIcon {
  color: white;
  position: absolute;
  top: 11px;
  margin-left: 11px;
  font-size: 20px;
}

@media (max-width: 768px) {

  .formCon {
    padding: 30px 0;
  }

  form {
    /* margin: 0 auto; */
    width: 80%;
    padding: 0;
  }

  label {
    font-size: 11px;
    /* padding: 20px 0;
    display: inherit; */
  }

  input {
    /* background-color: rgb(244, 241, 237);
    display: block;
    width: 100%; */
    /* padding-bottom: 30px; */
    font-size: 100%;
    /* border-left: none;
    border-right: none;
    border-top: none; */
    /* border-bottom: 1px solid black; */
  }

  textarea {
    /* background-color: rgb(244, 241, 237);
    display: block;
    width: 100%;
    padding-bottom: 70px; */
    font-size: 128%;
    /* border-top: none;
    border-right: none;
    border-left: none; */
  }

  button {
    /* display: block; */
    width: 40%;
    /* background-color: #f16b22;
    text-align: center; */
    /* margin-top: 20px; */
    font-size: 70%;
    /* font-weight: 600; */
    padding: 10px 33px 10px 10px;
    /* position: relative;
    color: #ffffff;
    border: none; */
  }

  .arrowIcon {
    /* color: white;
    position: absolute; */
    top: 22%;
    margin-left: 5px;
    /* font-size: 20px; */
  }


  /* text */


  /* label {
    font-size: 11px;
  }

  input {
    font-size: 16px;
  }

  textarea {
    font-size: 16px;
  } */

  /* button {
    width: unset;
    font-size: 12px;
    padding: 10px 33px 10px 10px;

  } */

}

@media (min-width: 768px) and (max-width: 1023px) {
  label {
    font-size: 85%;
    /* padding: 20px 0;
    display: inherit; */
  }

  input {
    /* background-color: rgb(244, 241, 237); */
    /* display: block;
    width: 100%;
    padding-bottom: 30px; */
    font-size: 111%;
    /* border-left: none;
    border-right: none;
    border-top: none; */
  }

  textarea {
    /* background-color: rgb(244, 241, 237);
    display: block;
    width: 100%;
    padding-bottom: 70px; */
    font-size: 149%;
    /* border-top: none;
    border-right: none;
    border-left: none; */
  }

  button {
    /* display: block; */
    width: 33%;
    /* background-color: #f16b22; */
    text-align: left;
    /* margin-top: 20px; */
    font-size: 85%;
    /* font-weight: 600; */
    padding: 2% 0 2% 3%;
    /* position: relative;
    color: #ffffff;
    border: none; */
  }

  .arrowIcon {
    /* color: white;
    position: absolute; */
    top: 25%;
    margin-left: 6%;
    font-size: 150%;
  }
}